<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CS480 Demo</display-name>
    <servlet>
    <description></description>
    <display-name>Entity1ServletCreate</display-name>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <url-pattern>/Entity1ServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Entity1ServletRead</display-name>
    <servlet-name>Entity1ServletRead</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletRead</servlet-name>
    <url-pattern>/Entity1ServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletUpdate</display-name>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <url-pattern>/Entity1ServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletDelete</display-name>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <url-pattern>/Entity1ServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>InitializeDB</display-name>
    <servlet-name>InitializeDB</servlet-name>
    <servlet-class>init.web.servlet.InitializeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeDB</servlet-name>
    <url-pattern>/InitializeDB</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>ReceptionistServletCreate</display-name>
    <servlet-name>ReceptionistServletCreate</servlet-name>
    <servlet-class>receptionist.web.servlet.ReceptionistServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceptionistServletCreate</servlet-name>
    <url-pattern>/ReceptionistServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ReceptionistServletRead</display-name>
    <servlet-name>ReceptionistServletRead</servlet-name>
    <servlet-class>receptionist.web.servlet.ReceptionistServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceptionistServletRead</servlet-name>
    <url-pattern>/ReceptionistServletRead</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ReceptionistServletUpdate</display-name>
    <servlet-name>ReceptionistServletUpdate</servlet-name>
    <servlet-class>receptionist.web.servlet.ReceptionistServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceptionistServletUpdate</servlet-name>
    <url-pattern>/ReceptionistServletUpdate</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>ReceptionistServletDelete</display-name>
    <servlet-name>ReceptionistServletDelete</servlet-name>
    <servlet-class>receptionist.web.servlet.ReceptionistServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceptionistServletDelete</servlet-name>
    <url-pattern>/ReceptionistServletDelete</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <description></description>
    <display-name>ManagerServletCreate</display-name>
    <servlet-name>ManagerServletCreate</servlet-name>
    <servlet-class>manager.web.servlet.ManagerServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServletCreate</servlet-name>
    <url-pattern>/ManagerServletCreate</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <description></description>
    <display-name>ManagerServletRead</display-name>
    <servlet-name>ManagerServletRead</servlet-name>
    <servlet-class>manager.web.servlet.ManagerServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServletRead</servlet-name>
    <url-pattern>/ManagerServletRead</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ManagerServletUpdate</display-name>
    <servlet-name>ManagerServletUpdate</servlet-name>
    <servlet-class>manager.web.servlet.ManagerServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServletUpdate</servlet-name>
    <url-pattern>/ManagerServletUpdate</url-pattern>
  </servlet-mapping>  

  <servlet>
    <description></description>
    <display-name>ManagerServletDelete</display-name>
    <servlet-name>ManagerServletDelete</servlet-name>
    <servlet-class>manager.web.servlet.ManagerServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServletDelete</servlet-name>
    <url-pattern>/ManagerServletDelete</url-pattern>
  </servlet-mapping>    

	<servlet>
    <display-name>TrainerServletCreate</display-name>
    <servlet-name>TrainerServletCreate</servlet-name>
    <servlet-class>trainer.web.servlet.TrainerServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerServletCreate</servlet-name>
    <url-pattern>/TrainerServletCreate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>TrainerServletRead</display-name>
    <servlet-name>TrainerServletRead</servlet-name>
    <servlet-class>trainer.web.servlet.TrainerServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerServletRead</servlet-name>
    <url-pattern>/TrainerServletRead</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>TrainerServletDelete</display-name>
    <servlet-name>TrainerServletDelete</servlet-name>
    <servlet-class>trainer.web.servlet.TrainerServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerServletDelete</servlet-name>
    <url-pattern>/TrainerServletDelete</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>TrainerServletUpdate</display-name>
    <servlet-name>TrainerServletUpdate</servlet-name>
    <servlet-class>trainer.web.servlet.TrainerServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerServletUpdate</servlet-name>
    <url-pattern>/TrainerServletUpdate</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>ClientServletCreate</display-name>
    <servlet-name>ClientServletCreate</servlet-name>
    <servlet-class>client.web.servlet.ClientServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServletCreate</servlet-name>
    <url-pattern>/ClientServletCreate</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>ClientServletRead</display-name>
    <servlet-name>ClientServletRead</servlet-name>
    <servlet-class>client.web.servlet.ClientServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServletRead</servlet-name>
    <url-pattern>/ClientServletRead</url-pattern>
  </servlet-mapping>  
  
  
  
    <servlet>
    <description></description>
    <display-name>ClientServletDelete</display-name>
    <servlet-name>ClientServletDelete</servlet-name>
    <servlet-class>client.web.servlet.ClientServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServletDelete</servlet-name>
    <url-pattern>/ClientServletDelete</url-pattern>
  </servlet-mapping>  
  
    
    <servlet>
    <description></description>
    <display-name>ClientServletUpdate</display-name>
    <servlet-name>ClientServletUpdate</servlet-name>
    <servlet-class>client.web.servlet.ClientServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServletUpdate</servlet-name>
    <url-pattern>/ClientServletUpdate</url-pattern>
  </servlet-mapping>  
  
    <servlet>
    <description></description>
    <display-name>AppointmentServletCreate</display-name>
    <servlet-name>AppointmentServletCreate</servlet-name>
    <servlet-class>appointment.web.servlet.AppointmentServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServletCreate</servlet-name>
    <url-pattern>/AppointmentServletCreate</url-pattern>
  </servlet-mapping>   
    
    <servlet>
    <description></description>
    <display-name>AppointmentServletRead</display-name>
    <servlet-name>AppointmentServletRead</servlet-name>
    <servlet-class>appointment.web.servlet.AppointmentServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServletRead</servlet-name>
    <url-pattern>/AppointmentServletRead</url-pattern>
  </servlet-mapping>       
    
    <servlet>
    <description></description>
    <display-name>AppointmentServletUpdate</display-name>
    <servlet-name>AppointmentServletUpdate</servlet-name>
    <servlet-class>appointment.web.servlet.AppointmentServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServletUpdate</servlet-name>
    <url-pattern>/AppointmentServletUpdate</url-pattern>
  </servlet-mapping>    
  
    <servlet>
    <description></description>
    <display-name>AppointmentServletDelete</display-name>
    <servlet-name>AppointmentServletDelete</servlet-name>
    <servlet-class>appointment.web.servlet.AppointmentServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServletDelete</servlet-name>
    <url-pattern>/AppointmentServletDelete</url-pattern>
  </servlet-mapping>     
  
  <servlet>
  
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
